html {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#FFC3C3, #FDA6A8, #FF7C7C);
    min-height: 100vh;
    font-weight: 600;
}

main {
    display: grid;
    justify-items: center;
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: small;
    animation: fadeIn 700ms 1000ms forwards;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: xx-large;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 700ms 900ms forwards;
}

section {
    padding: 0.35rem 3rem;
    display: grid;
    justify-items: center;
    background-color: #FFFFFF;
    animation: dropDown 800ms;
}

button {
    display: inline;
    font-weight: 600;
}

input:focus-visible {
    outline: #0354C1 auto 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

li {
    font-size: large;
    font-weight: 500;
    animation-name: up, fadeIn;
    animation-duration: 700ms;
    transition: color 700ms;
}

i {
    vertical-align: baseline !important;
    margin-left: 0.5rem;
    color: grey;
}

input, button {
    animation: fadeIn 700ms 1100ms forwards;
}

h1, p, input, button {
    opacity: 0;
}

.finishedToDo {
    text-decoration: line-through;
    animation: fadeToGrey 700ms 300ms forwards;
}

.blink {
    animation: blink 500ms 4 forwards;
}

#warning {
    color: #E70607;
    font-style: italic;
    font-weight: 600;
}

#numberOfFinishedToDosParent, #warning, input, ul {
    font-family: Arial, Helvetica, sans-serif;
}

#warning {
    margin-top: 0.25rem;
}

@keyframes dropDown {
    0% {
        transform: translateY(-200px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeToGrey {
    0% {
        color: black;
    }
    100% {
        color: grey;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}