body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, rgb(201, 228, 202), rgb(197, 237, 172));
}

main {
    display: grid;
    place-items: center;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
    margin: 1rem;
}

section {
    display: grid;
    place-items: center;
    padding: 2rem 4rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    border: 2px solid rgb(201, 228, 202);
    border-radius: 5px;
    padding: 1rem 1rem;
    font-weight: 600;
    width: 100%;
    display: block;
    font-size: large;
    transition: all 1000ms;
}

input:focus-visible {
    outline: none;
    transition: all 1000ms;
    background-image: linear-gradient(to right, rgb(201, 228, 202), rgb(197, 237, 172));
    animation: pulse 3s infinite alternate;
}

@keyframes pulse{
    0% {
        opacity: 0.7;
    }
    50% { 
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

ul {
    display: block;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
    list-style-position: inside;
    list-style: circle;
    padding: 1rem 2rem;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: opacity 1000ms;
    opacity: 0;
    border: 2px solid rgb(245, 245, 245);
}

li:hover {
    border: 2px solid rgb(201, 228, 202);
}

button {
    margin-top: 0.35rem;
    margin-bottom: 0.75rem;
    background-color: rgb(201, 228, 202);
    outline: none;
    border: none;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    transition: background-color 700ms;
}

button:hover {
    background-color: rgb(209, 239, 181);
}

img {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    cursor: pointer !important;
    float: right;
    vertical-align: bottom;
}

p {
    background-color: rgb(209, 239, 181);
    font-weight: 700 !important;
    padding: 10px;
    border-radius: 5px;
}

.finishedToDo {
    color: rgb(197, 237, 172);
    text-decoration: line-through;
}

.plus-icon {
    margin: 0.5rem;
}

.fadeIn {
    transition: all 1000ms;
    opacity: 100;
}